<form #form="ngForm" (ngSubmit)="login()" class="h-full flex justify-center items-center">
  <div class="flex flex-col w-80 -mt-32 gap-2">
    <img src="assets/logo.png" class="w-24 mx-auto" />
    <h3 class="text-2xl text-center">PCEX Authoring</h3>

    <h3 class="text-xl text-center text-gray-500 mb-2">Login</h3>

    <input name="email" type="text" pInputText [(ngModel)]="model.email" placeholder="Email address" required />
    <input name="password" type="password" pInputText type="password" [(ngModel)]="model.password"
      placeholder="Password" required minlength="6" />

    <button type="submit" pButton label="Login" [disabled]="!form.valid"></button>
    <span class="text-sm text-gray-400">
      <span>Forgot Password? Contact </span>
      <a href="mailto:moh70@pitt.edu" class="underline">moh70&#64;pitt.edu</a>
    </span>

    <div class="flex items-center gap-4">
      <hr class="flex-grow" />
      or
      <hr class="flex-grow" />
    </div>

    <button type="button" pButton label="Register" class="p-button-success" [routerLink]="['/register']"></button>
  </div>
</form>