.DS_Store

pcex-storage/
editor-services/pcex-compiler/output/

.env.production
.env.development

weat-databackup/

scripts/clone4arabic/hub/
scripts/clone4arabic/pcex_v1/
scripts/clone4arabic/hub.json
scripts/clone4arabic/list.json
