::ng-deep {
  .marked-line--glyph {
    background: lightgray;
    border: solid white 3px;
    border-radius: 100%;
    cursor: pointer;
  }
  .marked-line--glyph::before {
    content: "?";
    font-size: 0.65rem;
    padding-top: 2px;
  }

  .marked-line--background {
    border: solid #8378de99 1px;
    border-left-width: 3px;
    // background: #8378de99;
    min-width: 0.25rem;
  }

  .current-line--customized {
    background: #00000010;
  }
}
