<div *ngIf="model" class="h-full flex flex-col gap-4 p-4">
  <div class="flex flex-col bg-blue-200 rounded-sm shadow-md">
    <span class="text-xl p-2">{{ model.name }}</span>
    <span class="text-xs p-2 text-gray-600 bg-white">
      {{ model.description }}
    </span>
  </div>
  <div class="flex-grow flex items-start gap-4">
    <div class="w-3/5 h-full flex flex-col shadow-md">
      <ngx-monaco-editor *ngIf="langSet" [options]="editorOptions" [(ngModel)]="model.code"
        (onInit)="setupEditor($event)" class="px-1 bg-white flex-grow" style="height: 1.15rem; border: none;">
      </ngx-monaco-editor>
    </div>
    <div class="w-2/5 flex flex-col">
      <div *ngIf="!explaining" class="flex items-center gap-1">
        <button pButton type="button" label="Explain the Program" icon="pi pi-comment"
          class="p-button-sm p-button-success" style="padding: 0.25rem 0.5rem;" (click)="explain()">
        </button>
      </div>
      <div *ngIf="explaining" class="shadow-md rounded-sm">
        <div class="flex flex-col gap-1 p-2 bg-purple-200">
          <span>Explanations</span>
          <div class="flex items-center gap-1">
            <button pButton type="button" label="Previous" icon="pi pi-arrow-left" class="p-button-sm p-button-success"
              style="padding: 0.25rem 0.5rem;" (click)="setExplanationIdx(-1)" [disabled]="explanationIdx == 0">
            </button>
            <button pButton type="button" label="Next" icon="pi pi-arrow-right" class="p-button-sm p-button-success"
              style="padding: 0.25rem 0.5rem;" (click)="setExplanationIdx(+1)"
              [disabled]="explanationIdx >= lineNums.length - 1">
            </button>
          </div>
        </div>
        <div class="text-sm p-3">
          {{ model.lines[lineNums[explanationIdx]].comments[explanationSubIdx].content }}
        </div>
        <div class="flex items-center gap-1 px-2 pb-2">
          <button pButton type="button" label="Previous" class="p-button-sm" style="padding: 0.25rem 0.5rem;"
            (click)="setExplanationSubIdx(-1)" [disabled]="explanationSubIdx == 0">
          </button>
          <button pButton type="button" label="Additional Details" class="p-button-sm" style="padding: 0.25rem 0.5rem;"
            (click)="setExplanationSubIdx(+1)"
            [disabled]="explanationSubIdx >= model.lines[lineNums[explanationIdx]].comments.length - 1">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>