<form #form="ngForm" (ngSubmit)="register()" class="h-full flex justify-center items-center">
    <div class="flex flex-col w-80 -mt-32 gap-2">
        <img src="assets/logo.png" class="w-24 mx-auto" />
        <h3 class="text-2xl text-center">PCEX Authoring</h3>

        <h3 class="text-xl text-center text-gray-500 mb-2">Register</h3>

        <input name="fullname" type="text" pInputText [(ngModel)]="model.fullname" placeholder="Full name" required />
        <input name="email" type="text" pInputText [(ngModel)]="model.email" placeholder="Email address" required />
        <input name="password" type="password" pInputText type="password" [(ngModel)]="model.password"
            placeholder="Password" required minlength="6" />
        <input *ngIf="model.password" name="password_confirmation" type="password" pInputText type="password"
            [(ngModel)]="confirmation" placeholder="Confirm Password" required minlength="6" />

        <button type="submit" pButton label="Register" class="p-button-success"
            [disabled]="!form.valid || this.model.password != this.confirmation"></button>

        <div class="flex items-center gap-4">
            <hr class="flex-grow" />
            or
            <hr class="flex-grow" />
        </div>

        <button type="button" pButton label="Login" [routerLink]="['/login']"></button>
    </div>
</form>