<ngx-loading-bar ref="router" [height]="'0.25rem'"></ngx-loading-bar>
<ngx-loading-bar ref="http" [height]="'0.25rem'"></ngx-loading-bar>

<router-outlet></router-outlet>

<p-dialog [visible]="!welcomeMessageDismissed" header="Welcome!" position="top" [closable]="false" [modal]="true"
  [style]="{'max-width': '30rem', 'margin-top': '5rem'}" appendTo="body">
  <div>
    PCEX Authoring Tool is an easy to use web-app for authoring PCEX examples and challenges.
  </div>

  <div class="my-2">
    If you are new to this tool, feel free to read the
    <a [href]="docUrl" target="_blank" class="underline">documentation</a>.
  </div>

  <div>
    You can always access the documentation by
    clicking on the <i class="pi pi-question-circle"></i> icon at the
    bottom right corner of the screen.
  </div>

  <div class="mt-4">
    <button pButton type="button" label="Dismiss" class="p-button-sm p-button-help" style="padding: 0.25rem 0.5rem;"
      (click)="dismissWelcomeMessage()">
    </button>
  </div>
</p-dialog>

<a [href]="docUrl" target="_blank"
  class="fixed right-4 bottom-4 flex items-center gap-2 border rounded-2xl px-1 bg-gray-100 text-gray-400 hover:text-blue-600 no-underline"
  style="z-index: 999999;" (mouseenter)="docLbl.classList.remove('hidden')"
  (mouseleave)="docLbl.classList.add('hidden')">
  <span #docLbl class="underline pl-1 hidden">Documentation</span>
  <i class="pi pi-question-circle text-2xl"></i>
</a>