<ngx-loading-bar ref="router" [height]="'0.25rem'"></ngx-loading-bar>
<ngx-loading-bar ref="http" [height]="'0.25rem'"></ngx-loading-bar>

<router-outlet></router-outlet>

<a *ngIf="app.user" href="https://docs.google.com/document/d/1biWaF23Vy7tFpXQE0WDgte3_iaaWfa1MrJxxxs7bpHg"
    target="_blank"
    class="fixed right-4 bottom-4 flex items-center gap-2 border rounded-2xl px-1 bg-gray-100 text-gray-400 hover:text-blue-600"
    (mouseenter)="docLbl.classList.remove('hidden')" (mouseleave)="docLbl.classList.add('hidden')">
    <span #docLbl class="underline pl-1 hidden">Documentation</span>
    <i class="pi pi-question-circle text-2xl"></i>
</a>