<div class="flex flex-col admin">
  <div class="px-10 py-4 bg-gray-100 shadow-md fixed left-0 top-0 right-0 z-10">
    <div class="container mx-auto flex items-center gap-2 px-2 md:px-0">
      <img src="assets/logo.png" class="h-8 w-8" />
      <span class="text-xl font-bold">Administration</span>
      <span class="hidden md:inline-block"
        ><i class="pi pi-chevron-right"></i
      ></span>

      <p-dropdown
        #navEl
        [options]="getNavMenuBar()"
        [ngModel]="'/admin'"
        class="-my-2 pcex-nav-dropdown"
        (onChange)="router.navigate([$event.value])"
      ></p-dropdown>

      <span class="flex-grow"></span>

      <app-user-auth-ctrl></app-user-auth-ctrl>
    </div>
  </div>

  <div class="container mx-auto mt-24 mb-16 shadow-md z-0">
    <p-tabView [activeIndex]="activeTabIndex" (activeIndexChange)="onTabChange($event)">
      <p-tabPanel header="User Administration">
        <app-user-admin></app-user-admin>
      </p-tabPanel>

      <p-tabPanel header="Activities and Sources">
        <app-activity-source-admin></app-activity-source-admin>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
