::ng-deep {
  .admin-dialog {
    p-selectbutton .p-button,
    .p-multiselect .p-multiselect-label {
      padding: 0.35rem 0.5rem !important;
      font-size: 0.85rem !important;
    }
  }

  .admin-user-administration {
    .p-datatable .p-datatable-thead > tr > th {
      background: #f3f4f6;
      border-bottom: 1px solid #d1d5db;
      font-weight: 600;
    }

    .p-splitbutton button {
      padding: 0.35rem 0.5rem !important;
    }

    .p-tieredmenu.p-tieredmenu-overlay {
      width: max-content;
    }
  }
}
