.preview-btn,
.download-btn,
.reload-btn,
.archive-btn,
.toggle-publish-btn {
  padding: 0;
  width: 1.75rem;
}

.highlighted-row {
  animation: pcex-flash-highlight 1s ease-in-out infinite;
}

@keyframes pcex-flash-highlight {
  0%, 100% { background-color: transparent; }
  50% { background-color: #fef08a; } // yellow-200
}