<div class="h-full flex flex-col pcex__source-editor">
  <form *ngIf="model" #form="ngForm" (ngSubmit)="update()" class="flex-grow flex flex-col">
    <div class="bg-gray-100 shadow-md py-4 fixed left-0 top-0 right-0 z-10">
      <div class="container mx-auto flex items-center gap-2 px-2 md:px-0">
        <img src="assets/logo.png" class="h-8 w-8" />
        <span class="text-xl font-bold hidden md:inline-block text-nowrap">PCEX Authoring</span>
        <span class="hidden md:inline-block"><i class="pi pi-chevron-right"></i></span>

        <p-dropdown #navEl [options]="getNavMenuBar()" name="nav-bar" [ngModel]="'/sources'"
          class="-my-2 pcex-nav-dropdown" (onChange)="router.navigate([$event.value]);">
        </p-dropdown>

        <span class="flex-grow"></span>

        <div class="flex items-center gap-2">
          <button pButton type="button" label="Preview" icon="pi pi-eye"
            class="p-button-sm p-button-help p-button-text -my-2" (click)="preview()" [loading]="_v['preview']"
            [disabled]="_v['preview']">
          </button>
          <button pButton type="button" label="Cancel" icon="pi pi-chevron-left"
            class="p-button-sm p-button-secondary p-button-text -my-2" (click)="back()">
          </button>
          <button pButton type="submit" label="Save" icon="pi pi-check" class="p-button-sm -my-2"
            [disabled]="form.invalid || _v['update']" [loading]="_v['update']">
          </button>
        </div>
      </div>
    </div>

    <div class="flex-grow container mx-auto mt-24 mb-16 flex flex-col gap-4 z-0">
      <span class="text-xs text-gray-400 -mb-2">
        *Required fields (<i>name, source code</i>) are marked with
        asterisks.
      </span>

      <!-- name & description -->
      <div class="w-full flex flex-col gap-2 bg-gray-100 p-2 rounded-sm shadow-md">
        <input *ngIf="!titleDescCollapsed" type="text" name="name" pInputText [(ngModel)]="model.name"
          (ngModelChange)="updateTitle()" placeholder="*Name" class="text-xl border-gray-200" required
          (focus)="onNameFocus($event)" (blur)="onNameBlur($event);" />

        <textarea *ngIf="!titleDescCollapsed" pInputTextarea name="description" [autoResize]="true"
          placeholder="Description" rows="1" [(ngModel)]="model.description"
          class="p-inputtext-sm w-full border-gray-200" (focus)="onDescriptionFocus($event)"
          (blur)="onDescriptionBlur($event)"></textarea>

        <!-- expand/collapse (name & description) -->
        <div class="flex items-center gap-2 cursor-pointer text-gray-400"
          (click)="titleDescCollapsed = !titleDescCollapsed">
          <span *ngIf="titleDescCollapsed" class="text-xs">{{ model.description }}</span>
          <i class="pi text-xs"
            [ngClass]="{ 'pi-chevron-up' : !titleDescCollapsed, 'pi-chevron-down': titleDescCollapsed }"></i>
        </div>
      </div>

      <div class="flex-grow flex flex-col md:flex-row items-stretch gap-4">
        <div class="w-full md:w-1/2 flex flex-col gap-2 bg-gray-100 p-2 rounded-sm shadow-md">
          <div class="flex items-center gap-2">
            <span class="font-bold">Source Code</span>

            <span class="flex-grow"></span>

            <!-- identify and explain lines -->
            <button pButton type="button" title="GPT Configuration" icon="pi pi-cog"
              class="p-button-sm p-button-help p-button-outlined" (click)="loadGptConfig()">
            </button>
            <button pButton type="button" label="Identify and Explain Lines" icon="genai-icon"
              class="p-button-sm p-button-secondary p-button-outlined" [loading]="_v['generate:identify-and-explain']"
              [disabled]="!model.code" (click)="onIdentifyAndExplainLines()"></button>
          </div>

          <!-- source code editor -->
          <div class="flex-grow flex flex-col relative">
            <ngx-monaco-editor id="src-editor" name="code" [(ngModel)]="model.code" [options]="srcEditorOptions"
              (onInit)="setupSourceEditor($event)" required class="flex-grow rounded-sm border hover:border-gray-600"
              style="height: auto; min-height: 250px;">
            </ngx-monaco-editor>
            <span *ngIf="!model.code" class="absolute top-0.5 left-12 text-xs text-gray-400 pointer-events-none">
              *type your source code here...
            </span>
          </div>

          <!-- program input -->
          <div class="flex flex-col">
            <span class="font-bold">Program Input</span>
            <span class="text-gray-600 text-xs">Inputs available through System.in (Java) and input (Python).</span>
            <textarea pInputTextarea name="program-input" [autoResize]="true" [(ngModel)]="model.programInput"
              placeholder="e.g.: 5 10 15 20" class="mt-2 text-xs rounded-sm border-gray-200" [rows]="1"
              (focus)="onProgInputFocus($event)" (blur)="onProgInputBlur($event)"></textarea>
          </div>
        </div>

        <div *ngIf="selectedLineNum" class="w-full md:w-1/2 flex flex-col gap-4">
          <!-- explanations -->
          <div class="bg-gray-100 p-2 rounded-sm shadow-md flex flex-col gap-2">
            <span class="font-bold">Explanations</span>
            <ng-container *ngIf="selectedLineNum">
              <!-- select-all/delete/merge/move explanations -->
              <div *ngIf="selectedLine.comments?.length" class="flex items-center gap-2">
                <p-checkbox name="toggle-selection" label="Select all" [(ngModel)]="_v['all-explanation-selection']"
                  [binary]="true" class="p-checkbox-sm" (ngModelChange)="onSelectAll('explanation')"></p-checkbox>

                <span class="flex-grow"></span>

                <button pButton type="button" label="Delete" icon="fa fa-trash" class="px-2 py-1 annot-action-btn"
                  severity="danger" size="small" outlined="true" (click)="onDelete('explanation')"
                  [disabled]="_v['explanation-selection'].length == 0"></button>

                <button pButton type="button" label="Merge" icon="fa fa-link" class="px-2 py-1 annot-action-btn"
                  size="small" outlined="true" plain="true" (click)="onMerge()"
                  [disabled]="_v['explanation-selection'].length < 2"></button>

                <button pButton type="button" label="Move" icon="fa fa-share-square-o"
                  class="px-2 py-1 annot-action-btn" size="small" outlined="true" plain="true"
                  [disabled]="_v['explanation-selection'].length == 0"
                  (click)="_v['move-selection-header'] = 'Explanations'; _v['move-selection'] = 'explanation';">
                </button>
              </div>

              <!-- explanations -->
              <div class="flex flex-col flex-grow gap-2 md:max-h-80 md:overflow-y-auto overflow-x-hidden relative">
                <div *ngFor="let comment of selectedLine.comments; let i = index" #expEl
                  class="flex items-center gap-2 relative"
                  [ngClass]="{ 'border border-dashed border-gray-400': dragOverExpIdx == i }"
                  (dragstart)="onExplanationDragStart($event, i)" (dragover)="onExplanationDragOver($event, i)"
                  (drop)="onExplanationDragDrop($event, i)" (dragend)="onExplanationDragEnd(expEl, $event, i)">
                  <!-- selection chkbx -->
                  <p-checkbox [ngModel]="_v['explanation-selection']?.includes(comment)" [binary]="true"
                    [name]="'explanation-select-' + i" class="p-checkbox-sm"
                    (click)="toggleSelection('explanation', comment)"></p-checkbox>

                  <!-- explanation -->
                  <textarea pInputTextarea [autoResize]="true" [name]="_v['t'] + '-explanation-' + i"
                    [(ngModel)]="comment.content" [disabled]="!selectedLineNum" rows="1" placeholder="Explanation"
                    class="flex-grow border-gray-200 px-1.5 py-1 text-sm"
                    [ngClass]="{ 'gpt-generated': _v['generated-explanations']?.includes(comment) }"
                    (ngModelChange)="reloadLineMarkers()" (focus)="onExplanationFocus($event, comment, i)"
                    (blur)="onExplanationBlur($event, comment, i)"></textarea>

                  <!-- reorder-bar -->
                  <span class="text-gray-400 hover:text-gray-600 grap mr-2"
                    (mousedown)="expEl.setAttribute('draggable', 'true'); expDragEnabled = true;">＝</span>
                </div>
              </div>
            </ng-container>
            <!-- howto: put cursor in a line -->
            <ng-container *ngIf="!selectedLineNum">
              <span class="text-gray-600 text-sm">
                ← Place the cursor in a line to add <span class="italic">explanations</span>,
                or mark it as a <span class="italic">blank line</span>.
              </span>
            </ng-container>

            <!-- add or generate explanations -->
            <div class="flex items-center justify-end gap-2">
              <button pButton type="button" label="Add" icon="pi pi-plus"
                class="p-button-sm p-button-help p-button-outlined" (click)="addExplanation()">
              </button>
              <span>or</span>
              <button pButton type="button" label="Generate Explanations" icon="genai-icon"
                class="p-button-sm p-button-secondary p-button-outlined" [loading]="_v['generate:explain-line']"
                [disabled]="!model.code" (click)="onExplainLine()"></button>
            </div>
          </div>

          <!-- distractors -->
          <div *ngIf="selectedLineNum" class="bg-gray-100 p-2 rounded-sm shadow-md flex flex-col gap-2">
            <span class="font-bold">Distractors</span>

            <!-- mark line as blank -->
            <span class="flex items-center gap-2 cursor-pointer" title="Mark this line as a blank line"
              (click)="toggleBlankLine()">
              <i class="w-4 h-4 rounded-sm border-2 border-blue-400"
                [ngClass]="{'bg-blue-400': selectedLine.blank, 'bg-white': !selectedLine.blank}"></i>
              <span>Mask this line (in a challenge)</span>
            </span>

            <!-- select-all/delete/move distractor -->
            <div *ngIf="distractors?.length" class="flex items-center gap-2">
              <p-checkbox name="toggle-selection" label="Select all" [(ngModel)]="_v['all-distractor-selection']"
                [binary]="true" class="p-checkbox-sm" (ngModelChange)="onSelectAll('distractor')"></p-checkbox>

              <span class="flex-grow"></span>

              <button pButton type="button" label="Delete" icon="fa fa-trash" class="px-2 py-1 annot-action-btn"
                severity="danger" size="small" outlined="true" (click)="onDelete('distractor')"
                [disabled]="_v['distractor-selection'].length == 0"></button>

              <button pButton type="button" label="Move" icon="fa fa-share-square-o" class="px-2 py-1 annot-action-btn"
                size="small" outlined="true" plain="true" [disabled]="_v['distractor-selection'].length == 0"
                (click)="_v['move-selection-header'] = 'Distractors'; _v['move-selection'] = 'distractor';">
              </button>
            </div>

            <!-- distractors -->
            <div *ngIf="selectedLineNum && selectedLine.blank && model.distractors?.length"
              class="flex flex-col flex-grow gap-2 md:max-h-80 md:overflow-y-auto overflow-x-hidden relative">
              <div *ngFor="let distractor of distractors; let i = index"
                class="flex items-center gap-2 rounded-sm relative">
                <!-- toggle selection -->
                <p-checkbox [ngModel]="_v['distractor-selection']?.includes(distractor)" [binary]="true"
                  [name]="'distractor-select-' + i" class="p-checkbox-sm"
                  (click)="toggleSelection('distractor', distractor)"></p-checkbox>

                <!-- distractor editor & description -->
                <div class="flex flex-col flex-grow relative border border-solid border-gray-200">
                  <ngx-monaco-editor [name]="'distractor-' + i" [(ngModel)]="distractor.code"
                    [options]="distEditorOptions" (onInit)="setupDistractorEditor($event, distractor, i)"
                    class="px-1 bg-white" style="height: 1.15rem; border: none;">
                  </ngx-monaco-editor>
                  <span *ngIf="!distractor.code" class="absolute text-xs text-gray-400 pointer-events-none"
                    style="top: 0.125rem; left: 0.25rem;">
                    Type the distractor line here...
                  </span>
                  <textarea pInputTextarea [autoResize]="true" [name]="'distractor-description-' + i"
                    [(ngModel)]="distractor.description" placeholder="Explanation" rows="1"
                    class="text-xs border-0 rounded-none bg-gray-50" style="padding: 0.25rem;"
                    (focus)="onDistractorExpFocus($event, distractor, i)"
                    (blur)="onDistractorExpBlur($event, distractor, i)"></textarea>
                </div>
              </div>
            </div>

            <!-- add or generate distractors -->
            <div *ngIf="selectedLineNum && selectedLine.blank" class="flex items-center justify-end gap-2">
              <button pButton type="button" label="Add" icon="pi pi-plus"
                class="p-button-outlined p-button-sm p-button-help" (click)="addDistractor()">
              </button>
              <span>or</span>
              <button pButton type="button" label="Generate Distractors" icon="genai-icon"
                class="p-button-sm p-button-secondary p-button-outlined" [loading]="_v['generate:distractors']"
                [disabled]="!model.code" (click)="onGenDistractors()">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<p-toast />
<p-confirmDialog />

<!-- preview -->
<p-dialog [(visible)]="_v['show-preview']" [modal]="true" [style]="{width: '85vw', height: '85vh'}"
  (onShow)="log({ type: 'open-preview' })" (onHide)="_v['preview-link'] = null; log({ type: 'close-preview' });">
  <iframe *ngIf="_v['preview-link']" [src]="_v['preview-link']" class="border-none"
    style="width: 100%; height: 100%"></iframe>
</p-dialog>

<!-- gpt-config -->
<p-dialog *ngIf="_v['show-gpt-config']" [(visible)]="_v['show-gpt-config']" header="GPT Configuration" [modal]="true"
  [style]="{'width': '30rem'}" (onShow)="log({ type: 'open-gpt-config' })"
  (onHide)="log({ type: 'close-gpt-config' });">
  <form #form="ngForm" (ngSubmit)="saveGptConfig()" class="flex flex-col gap-2">
    <span class="text-xs text-gray-600">
      Important: You must provide an API key (and organization) if you use any OpenAI model other than gpt-4o-mini.
    </span>
    <textarea pInputTextarea name="gpt-config" [placeholder]="GPT_CONF_PLACEHOLDER" rows="10"
      [(ngModel)]="_v['gpt-config']" [required]="true" class="p-inputtext-sm w-full border-gray-200"></textarea>
    <div class="flex items-center gap-2">
      <button pButton type="button" label="Reset" class="p-button-sm p-button-secondary" (click)="resetGptConfig()">
      </button>
      <button pButton type="submit" label="Save" class="p-button-sm p-button-help" [disabled]="form.invalid">
      </button>
    </div>
  </form>
</p-dialog>

<!-- move selected (explanation/distractor) to another line -->
<p-dialog *ngIf="_v['move-selection']" [(visible)]="_v['move-selection']"
  [header]="'Move ' + _v['move-selection-header']" position="top" [modal]="true" [style]="{'min-width': '25rem'}"
  appendTo="body">
  <div class="flex items-center gap-2">
    <span>Move to:</span>
    <p-dropdown #targetLineEl [options]="targetLns" placeholder="Select the line" appendTo="body"
      class="flex-grow"></p-dropdown>
    <button pButton type="button" label="Move" (click)="onMove(_v['move-selection'], targetLineEl.value)"
      [disabled]="!targetLineEl.value"></button>
  </div>
</p-dialog>

<!-- data collection consent -->
<p-dialog [visible]="!trackingMessageDismissed" header="Dear User" position="top" [closable]="false" [modal]="true"
  [style]="{'max-width': '30rem'}" appendTo="body">
  <p class="m-0">
    On this page, we collect data to <i>enhance this tool and support our research</i>.
    By using the tool, you consent to this collection.
    Your privacy is our top priority, and all data will be used exclusively for these purposes.

    <br /><br />

    Please check this box if you do not consent to the data collection.<br />
    <p-checkbox label="Don't collect data on this page." [(ngModel)]="_v['dont-collect-data']" [binary]="true"
      class="p-checkbox-sm mt-2 ml-2"></p-checkbox>

    <br /><br />

    Feel free to to reach out
    (<a href="mailto:moh70@pitt.edu" class="underline">moh70&#64;pitt.edu</a>)
    if you have any questions or concerns.

    <br /><br />

    Thank you, <br />
    PAWS Lab Team<br />
    University of Pittsburgh
  </p>

  <div class="mt-4">
    <button pButton type="button" label="Dismiss" class="p-button-sm p-button-help" (click)="dismissTrackingMessage()">
    </button>
  </div>
</p-dialog>
