<div class="h-full flex flex-col pcex__source-editor">
  <form *ngIf="model" #form="ngForm" (ngSubmit)="update()" class="flex-grow flex flex-col">
    <div class="bg-gray-100 shadow-md py-4 fixed left-0 top-0 right-0 z-10">
      <div class="container mx-auto flex items-center gap-2 px-2 md:px-0">
        <img src="assets/logo.png" class="h-8 w-8" />
        <span class="text-xl font-bold hidden md:inline-block text-nowrap">PCEX Authoring</span>
        <span class="hidden md:inline-block"><i class="pi pi-chevron-right"></i></span>

        <p-dropdown #navEl [options]="getNavMenuBar()" name="nav-bar" [ngModel]="'/sources'"
          class="-my-2 pcex-nav-dropdown" (onChange)="router.navigate([$event.value]);">
        </p-dropdown>

        <span class="flex-grow"></span>

        <div class="flex items-center gap-2">
          <button *ngIf="_v['allow-untranslated-view']" pButton type="button"
            [label]="viewUntranslated ? 'Original Version [Read-only!]' : 'Translated Version'" icon="pi pi-language"
            class="p-button-sm p-button-plain p-button-outlined -my-2" (click)="toggleTranslation()">
          </button>

          <p-button type="button" title="Collaborators" icon="pi pi-users" severity="help" [outlined]="true"
            size="small" (click)="_v['collaborators'] = true" class="-my-2">
          </p-button>
          <button pButton type="button" label="Preview" icon="pi pi-eye"
            class="p-button-sm p-button-help p-button-text -my-2" (click)="preview()" [loading]="_v['preview']"
            [disabled]="_v['preview']">
          </button>
          <button pButton type="button" label="Cancel" icon="pi pi-chevron-left"
            class="p-button-sm p-button-secondary p-button-text -my-2" (click)="back()">
          </button>
          <button pButton type="submit" label="Save" icon="pi pi-check" class="p-button-sm -my-2"
            [disabled]="form.invalid || _v['update']" [loading]="_v['update']">
          </button>
        </div>
      </div>
    </div>

    <div class="flex-grow container mx-auto mt-24 mb-16 flex flex-col gap-4 z-0">
      <!-- ------------------------------------------- -->
      <div *ngIf="false && app.user && app.user.email == 'moh70@pitt.edu'"
        class="flex items-center gap-2 bg-gray-100 shadow-md p-4">
        <span class="uppercase font-bold">moh70 toolbox:</span>
        <button pButton type="button" label="Explain Lines & Generate Distractors" icon="genai-icon"
          class="p-button-sm p-button-secondary p-button-outlined" (click)="moh70Generate()"
          [loading]="_v['moh70-generate']" [disabled]="_v['moh70-generate']">
        </button>
        <button pButton type="button" label="Clean TODO-Markers" icon="pi pi-trash"
          class="p-button-sm p-button-secondary p-button-outlined" (click)="moh70RemoveTodoMarkers()">
        </button>
        <span>DANGLINGS EXPLANATIONS:[{{ _v['moh70-dangling-explanations']?.join(',') }}]</span>
        <span>DANGLINGS DISTRACTORS:[{{ _v['moh70-dangling-distractors']?.join(',') }}]</span>
      </div>
      <!-- ------------------------------------------- -->

      <span class="text-xs text-gray-400 -mb-2">
        *Required fields (<i>name, source code</i>) are marked with
        asterisks.
      </span>

      <!-- name & description -->
      <div class="w-full flex flex-col gap-2 bg-gray-100 p-2 rounded-sm shadow-md">
        <input *ngIf="!titleDescCollapsed" type="text" name="name" pInputText dir="auto"
          [(ngModel)]="model[viewUntranslated ? 'untr_name' : 'name']" (ngModelChange)="updateTitle()"
          placeholder="*Name" class="flex-grow text-xl border-gray-200"
          [class.border-red-600]="model.name?.length >= 128" required maxlength="128" (focus)="onNameFocus($event)"
          (blur)="onNameBlur($event);" [disabled]="viewUntranslated" />

        <textarea *ngIf="!titleDescCollapsed" pInputTextarea name="description" dir="auto" [autoResize]="true"
          placeholder="Description" rows="1" [(ngModel)]="model[viewUntranslated ? 'untr_description' : 'description']"
          class="p-inputtext-sm w-full border-gray-200" (focus)="onDescriptionFocus($event)"
          (blur)="onDescriptionBlur($event)" [disabled]="viewUntranslated"></textarea>

        <p-chips *ngIf="!titleDescCollapsed" name="tags" [(ngModel)]="model.tags" separator="," placeholder="Add tags"
          (onAdd)="addTag($event)" (onRemove)="removeTag($event)"></p-chips>

        <!-- expand/collapse (name & description) -->
        <div class="flex flex-col items-start gap-2 mr-24 cursor-pointer text-gray-400"
          (click)="titleDescCollapsed = !titleDescCollapsed">
          <span *ngIf="titleDescCollapsed && model.description" class="text-xs">
            {{ viewUntranslated ? model.untr_description : model.description }}
          </span>
          <span *ngIf="titleDescCollapsed && model.tags?.length" class="text-xs">{{ model.tags?.join(', ') }}</span>
          <i class="pi text-xs"
            [ngClass]="{ 'pi-chevron-up' : !titleDescCollapsed, 'pi-chevron-down': titleDescCollapsed }"></i>
        </div>
      </div>

      <div class="flex-grow flex flex-col md:flex-row items-stretch gap-4">
        <div class="w-full md:w-1/2 flex flex-col gap-2 bg-gray-100 p-2 rounded-sm shadow-md">
          <div class="flex items-center gap-2">
            <div class="flex flex-col gap-1 flex-grow">
              <span class="font-bold">Source Code</span>

              <p-inputGroup>
                <p-inputGroupAddon class="text-xs px-1 py-0 border-gray-400">Filename:</p-inputGroupAddon>
                <input pInputText type="text" name="filename" [(ngModel)]="model.filename" required
                  placeholder="File name" class="text-xs p-0.5 border-gray-400" (blur)="onFilenameBlur()" />
              </p-inputGroup>
            </div>

            <!-- identify and explain lines -->
            <button pButton type="button" title="Configure GPT (globally)" icon="pi pi-cog"
              class="p-button-sm p-button-help p-button-outlined" (click)="loadOpenAIGPTConfig()">
            </button>
            <button pButton type="button" label="Identify and Explain Lines" title="Identify and Explain Lines of code"
              icon="genai-icon" class="p-button-sm p-button-secondary p-button-outlined"
              [loading]="_v['generate:identify-and-explain']" [disabled]="!model.code"
              (click)="onIdentifyAndExplainLines()">
            </button>
            <button pButton type="button" title="Translate this source into target natural language"
              icon="pi pi-language" class="p-button-sm p-button-secondary p-button-outlined"
              [loading]="_v['generate:translate']" (click)="openTranslateDialog()">
            </button>
          </div>

          <!-- source code editor -->
          <div class="flex-grow flex flex-col relative">
            <ngx-monaco-editor id="src-editor" name="code" [(ngModel)]="model[viewUntranslated ? 'untr_code' : 'code']"
              [options]="srcEditorOptions" (onInit)="setupSourceEditor($event)" required
              class="flex-grow rounded-sm border hover:border-gray-600" style="height: auto; min-height: 250px;">
            </ngx-monaco-editor>
            <span *ngIf="!model.code" class="absolute top-0.5 left-12 text-xs text-gray-400 pointer-events-none">
              *type your source code here...
            </span>
          </div>

          <!-- program input -->
          <div class="flex flex-col gap-1">
            <span class="font-bold">Program Input</span>
            <span class="text-gray-600 text-xs">Inputs available through System.in (Java) and input (Python).</span>
            <textarea pInputTextarea name="program-input" [autoResize]="true" [(ngModel)]="model.programInput"
              placeholder="e.g.: 5 10 15 20" class="text-xs rounded-sm border-gray-200" [rows]="1"
              (focus)="onProgInputFocus($event)" (blur)="onProgInputBlur($event)"></textarea>
          </div>

          <div class="flex flex-col gap-1">
            <span class="font-bold">Extra Files ({{ (model.extraFiles || []).length }})</span>
            <span class="text-gray-600 text-xs">
              Additional files required to run the source code (e.g., data files).
              Each file can't be larger than 64KB. <br />
              If needed, after selecting the file, you can change its relative path (to the source code).
            </span>
            <div *ngFor="let extraFile of model.extraFiles; let i = index" class="flex items-center gap-1">
              <input type="text" pInputText [name]="'extra-files-'+i" [(ngModel)]="extraFile.path"
                placeholder="Enter relative file path" class="flex-grow" size="small" />
              <button pButton type="button" icon="pi pi-download" size="small" outlined="true" plain="true"
                (click)="onExtraFileDownload($event, extraFile)">
              </button>
              <button pButton type="button" icon="pi pi-trash" severity="danger" size="small" outlined="true"
                plain="true" (click)="onExtraFileDelete($event, extraFile)">
              </button>
            </div>
            <div>
              <button pButton type="button" label="Upload File" icon="pi pi-plus" class="px-2 py-1" size="small"
                outlined="true" plain="true" (click)="extraFileInput.click()">
              </button>
              <input type="file" #extraFileInput style="display: none;" (change)="onExtraFileSelected($event)" />
            </div>
          </div>
        </div>

        <div class="w-full md:w-1/2 flex flex-col gap-4">
          <p-tabView [(activeIndex)]="_v['tabview']">
            <p-tabPanel header="Worked Example" [selected]="true">
              <div *ngIf="_v['tabview'] == 0" class="bg-gray-100 -m-4 p-2 flex flex-col gap-2">
                <div class="text-gray-600 text-sm">
                  <i class="pi pi-info-circle align-middle"></i>
                  <span class="align-middle"> Add explanations to use the source as a worked example.</span>
                </div>

                <hr class="w-full mt-0 mb-1" />

                <ng-container *ngIf="selectedLineNum">
                  <!-- select-all/delete/merge/move explanations -->
                  <div *ngIf="selectedLine.comments?.length" class="flex items-center gap-2">
                    <p-checkbox name="toggle-selection" label="Select all" [(ngModel)]="_v['all-explanation-selection']"
                      [binary]="true" class="p-checkbox-sm w-48"
                      (ngModelChange)="onSelectAll('explanation')"></p-checkbox>

                    <span class="flex-grow"></span>

                    <button pButton type="button" label="Delete" title="Delete selected explanations" icon="fa fa-trash"
                      class="px-2 py-1 annot-action-btn" severity="danger" size="small" outlined="true"
                      (click)="onDelete('explanation')" [disabled]="_v['explanation-selection'].length == 0">
                    </button>

                    <button pButton type="button" label="Merge" title="Merge selected explanations into one"
                      icon="fa fa-link" class="px-2 py-1 annot-action-btn" size="small" outlined="true" plain="true"
                      (click)="onMerge()" [disabled]="_v['explanation-selection'].length < 2">
                    </button>

                    <button pButton type="button" label="Move" title="Move selected explanations to another line"
                      icon="fa fa-share-square-o" class="px-2 py-1 annot-action-btn" size="small" outlined="true"
                      plain="true" [disabled]="_v['explanation-selection'].length == 0"
                      (click)="_v['move-selection-header'] = 'Explanations'; _v['move-selection'] = 'explanation';">
                    </button>
                  </div>

                  <!-- explanations -->
                  <div class="flex flex-col flex-grow gap-2 md:max-h-80 md:overflow-y-auto overflow-x-hidden relative">
                    <div *ngFor="let comment of selectedLine.comments; let i = index" #expEl
                      class="flex items-center gap-2 relative"
                      [ngClass]="{ 'border border-dashed border-gray-400': dragOverExpIdx == i }"
                      (dragstart)="onExplanationDragStart($event, i)" (dragover)="onExplanationDragOver($event, i)"
                      (drop)="onExplanationDragDrop($event, i)" (dragend)="onExplanationDragEnd(expEl, $event, i)">
                      <!-- selection chkbx -->
                      <p-checkbox [ngModel]="_v['explanation-selection']?.includes(comment)" [binary]="true"
                        [name]="'explanation-select-' + i" class="p-checkbox-sm"
                        (click)="toggleSelection('explanation', comment)"></p-checkbox>

                      <!-- explanation -->
                      <textarea pInputTextarea [autoResize]="true" dir="auto" [name]="_v['t'] + '-explanation-' + i"
                        [(ngModel)]="comment[viewUntranslated ? 'untr_content' : 'content']"
                        [disabled]="!selectedLineNum" rows="1" placeholder="Explanation"
                        class="flex-grow border-gray-200 px-1.5 py-1 text-sm"
                        [ngClass]="{ 'gpt-generated': _v['generated-explanations']?.includes(comment) }"
                        (ngModelChange)="reloadLineMarkers()" (focus)="onExplanationFocus($event, comment, i)"
                        (blur)="onExplanationBlur($event, comment, i)" autofocus="false"
                        [disabled]="viewUntranslated"></textarea>

                      <!-- reorder-bar -->
                      <span class="text-gray-400 hover:text-gray-600 grap mr-2"
                        (mousedown)="expEl.setAttribute('draggable', 'true'); expDragEnabled = true;">＝</span>
                    </div>
                    <span *ngIf="!selectedLine.comments?.length" class="text-gray-600 text-sm">
                      Use the "Add" or "Generate Explanations" buttons below
                      to add explanations for this line.
                    </span>
                  </div>
                </ng-container>
                <!-- howto: put cursor in a line -->
                <ng-container *ngIf="!selectedLineNum">
                  <span class="text-gray-600 text-sm">
                    ← Place the cursor in a line to add <span class="italic">explanations</span>,
                    or mark it as a <span class="italic">blank line</span>.
                  </span>
                </ng-container>

                <!-- add or generate explanations -->
                <div class="flex items-center justify-end gap-2">
                  <button pButton type="button" label="Add" icon="pi pi-plus"
                    class="p-button-sm p-button-help p-button-outlined" (click)="addExplanation()">
                  </button>
                  <span>or</span>
                  <button pButton type="button" label="Generate Explanations"
                    title="Generate explanations for this line" icon="genai-icon"
                    class="p-button-sm p-button-secondary p-button-outlined" [loading]="_v['generate:explain-line']"
                    [disabled]="!model.code" (click)="onExplainLine()">
                  </button>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel *ngIf="selectedLineNum" header="Code-Completion">
              <!-- distractors -->
              <div *ngIf="_v['tabview'] == 1" class="bg-gray-100 -m-4 p-2 flex flex-col gap-2">
                <div class="text-gray-600 text-sm">
                  <i class="pi pi-info-circle align-middle"></i>
                  <span class="align-middle">
                    When you mask this line, you can add "distractors" — incorrect options;
                    allowing you to use the source as a code-completion problem as well.
                  </span>
                </div>

                <hr class="w-full mt-0 mb-1" />

                <div class="flex items-center mb-2">
                  <!-- mark line as blank -->
                  <span class="flex items-center gap-2 cursor-pointer" title="Mark this line as a blank line"
                    (click)="toggleBlankLine()">
                    <i class="w-4 h-4 rounded-sm border border-solid border-gray-600"
                      [ngClass]="{'bg-blue-400': selectedLine.blank, 'bg-white': !selectedLine.blank}"></i>
                    <span>Mask this line</span>
                  </span>

                  <span class="flex-grow"></span>

                  <p-checkbox name="show-all-distractors" label="Show all" [(ngModel)]="_v['show-all-distractors']"
                    [binary]="true" class="p-checkbox-sm" dir="rtl" (click)="reloadDistractors()"></p-checkbox>
                </div>

                <ng-container *ngIf="selectedLineNum && selectedLine.blank">
                  <!-- select-all/delete/move distractor -->
                  <div *ngIf="distractors.length" class="flex items-center gap-2">
                    <p-checkbox name="toggle-selection" label="Select all" [(ngModel)]="_v['all-distractor-selection']"
                      [binary]="true" class="p-checkbox-sm w-48"
                      (ngModelChange)="onSelectAll('distractor')"></p-checkbox>

                    <span class="flex-grow"></span>

                    <button pButton type="button" label="Delete" icon="fa fa-trash" class="px-2 py-1 annot-action-btn"
                      severity="danger" size="small" outlined="true" (click)="onDelete('distractor')"
                      [disabled]="_v['distractor-selection'].length == 0">
                    </button>

                    <button pButton type="button" label="Move" icon="fa fa-share-square-o"
                      class="px-2 py-1 annot-action-btn" size="small" outlined="true" plain="true"
                      [disabled]="_v['distractor-selection'].length == 0"
                      (click)="_v['move-selection-header'] = 'Distractors'; _v['move-selection'] = 'distractor';">
                    </button>
                  </div>

                  <!-- distractors -->
                  <div class="flex flex-col flex-grow gap-2 md:max-h-80 md:overflow-y-auto overflow-x-hidden relative">
                    <div *ngFor="let distractor of distractors; let i = index"
                      class="flex items-center gap-2 rounded-sm relative">
                      <!-- toggle selection -->
                      <p-checkbox [ngModel]="_v['distractor-selection']?.includes(distractor)" [binary]="true"
                        [name]="'distractor-select-' + i" class="p-checkbox-sm"
                        (click)="toggleSelection('distractor', distractor)"></p-checkbox>

                      <!-- distractor editor & description -->
                      <div class="flex flex-col flex-grow relative border border-solid border-gray-200">
                        <ngx-monaco-editor [name]="'distractor-' + i"
                          [(ngModel)]="distractor[viewUntranslated ? 'untr_code' : 'code']"
                          [options]="distEditorOptions" (onInit)="setupDistractorEditor($event, distractor, i)"
                          class="px-1 bg-white" style="height: 1.15rem; border: none;">
                        </ngx-monaco-editor>
                        <span *ngIf="!distractor.code" class="absolute text-xs text-gray-400 pointer-events-none"
                          style="top: 0.125rem; left: 0.25rem;">
                          Type the distractor line here...
                        </span>
                        <div class="flex items-stretch">
                          <textarea pInputTextarea [autoResize]="true" dir="auto" [name]="'distractor-description-' + i"
                            [(ngModel)]="distractor[viewUntranslated ? 'untr_description' : 'description']"
                            placeholder="Explanation" rows="1"
                            class="text-xs border-0 rounded-none bg-gray-50 flex-grow" style="padding: 0.25rem;"
                            (focus)="onDistractorExpFocus($event, distractor, i)"
                            (blur)="onDistractorExpBlur($event, distractor, i)"
                            [disabled]="viewUntranslated"></textarea>
                          <button pButton type="button" [label]="_v['gen-dist-exp-label-' + i]" icon="genai-icon"
                            title="Generate explanation for this distractor"
                            class="p-button-sm p-button-secondary p-button-text gen-dist-explanation-btn"
                            [loading]="_v['generate:distractor-explanation' + i]" [disabled]="!distractor.code"
                            (click)="onGenDistExplanation(distractor, i)"
                            (mouseenter)="_v['gen-dist-exp-label-' + i] = 'Generate Explanation'"
                            (mouseleave)="_v['gen-dist-exp-label-' + i] = ''">
                          </button>
                        </div>
                      </div>
                    </div>
                    <span *ngIf="!distractors.length" class="text-gray-600 text-sm">
                      Use the "Add" or "Generate Distractors" buttons below
                      to add distractors for this line.
                    </span>
                  </div>

                  <!-- add or generate distractors -->
                  <div class="flex items-center justify-end gap-2">
                    <button pButton type="button" label="Add" icon="pi pi-plus"
                      class="p-button-outlined p-button-sm p-button-help" (click)="addDistractor()">
                    </button>
                    <span>or</span>
                    <button pButton type="button" label="Generate Distractors"
                      title="Generate distractors for this blank line" icon="genai-icon"
                      class="p-button-sm p-button-secondary p-button-outlined" [loading]="_v['generate:distractors']"
                      [disabled]="!model.code" (click)="onGenDistractors()">
                    </button>
                  </div>
                </ng-container>
              </div>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </form>
</div>

<p-toast />
<p-confirmDialog />

<!-- preview -->
<p-dialog [(visible)]="_v['show-preview']" [modal]="true" [style]="{width: '85vw', height: '85vh'}"
  (onShow)="log({ type: 'open-preview' })" (onHide)="_v['preview-link'] = null; log({ type: 'close-preview' });">
  <iframe *ngIf="_v['preview-link']" [src]="_v['preview-link']" class="border-none"
    style="width: 100%; height: 100%"></iframe>
</p-dialog>

<!-- gpt-config -->
<p-dialog *ngIf="_v['show-gpt-config']" [(visible)]="_v['show-gpt-config']" header="OpenAI-GPT Configuration"
  [modal]="true" [style]="{'width': '35rem'}" (onShow)="log({ type: 'open-gpt-config' })"
  (onHide)="log({ type: 'close-gpt-config' });">
  <form #form="ngForm" (ngSubmit)="saveOpenAIGPTConfig()" class="flex flex-col gap-2">
    <span class="text-xs text-gray-600">
      You need an API key for any OpenAI model except gpt-5-mini. See
      <a href="https://platform.openai.com/docs/api-reference/responses/create" target="_blank" class="underline">
        OpenAI API Documentation
      </a> for configuration details.
    </span>
    <textarea pInputTextarea name="gpt-config" [placeholder]="GPT_CONF_PLACEHOLDER" rows="10"
      [(ngModel)]="openAIGPTConfig" [required]="true" class="p-inputtext-sm w-full border-gray-200"></textarea>

    <!-- ---------- -->
    <hr class="w-full" />
    <span class="-mt-2 text-xl font-bold">Translation:</span>
    <input type="text" pInputText name="translate-tolanguage" [(ngModel)]="translation.target_language"
      placeholder="Enter target language (e.g., Spanish)" class="flex-grow" />
    <span class="text-xs text-gray-600 -mt-1">
      This determines the language explanations and code elements will be generated in.
    </span>
    <!-- ---------- -->

    <div class="flex items-center gap-2">
      <button pButton type="button" label="Reset" class="p-button-sm p-button-secondary"
        (click)="resetOpenAIGPTConfig()">
      </button>
      <button pButton type="submit" label="Save" class="p-button-sm p-button-help" [disabled]="form.invalid">
      </button>
    </div>
  </form>
</p-dialog>

<!-- move selected (explanation/distractor) to another line -->
<p-dialog *ngIf="_v['move-selection']" [(visible)]="_v['move-selection']"
  [header]="'Move ' + _v['move-selection-header']" position="top" [modal]="true" [style]="{'min-width': '25rem'}"
  appendTo="body">
  <div class="flex items-center gap-2">
    <span>Move to:</span>
    <p-dropdown #targetLineEl [options]="targetLns" placeholder="Select the line" appendTo="body"
      class="flex-grow"></p-dropdown>
    <button pButton type="button" label="Move" (click)="onMove(_v['move-selection'], targetLineEl.value)"
      [disabled]="!targetLineEl.value">
    </button>
  </div>
</p-dialog>

<!-- translation -->
<p-dialog *ngIf="_v['translate']" [(visible)]="_v['translate']" header="Translate Source" [closable]="false"
  [modal]="true" [style]="{'width': '25rem'}" appendTo="body">
  <form #form="ngForm" class="flex flex-col gap-2" (submit)="translate()">
    <span>Specify Target Language:</span>
    <input type="text" pInputText name="translate-tolanguage" [(ngModel)]="translation.target_language"
      placeholder="e.g.: Spanish" [required]="true" />
    <span class="text-xs text-gray-600 -mt-1">
      This determines the language your source name, description, explanations,
      distractors, and code elements will be translated into.
    </span>

    <span>Also, translate code elements:</span>
    <p-checkbox label="Classes" name="translate-classes" [(ngModel)]="translation.translate_classes" [binary]="true"
      class="-mb-1 ml-2" />
    <p-checkbox label="Functions" name="translate-functions" [(ngModel)]="translation.translate_functions"
      [binary]="true" class="-mb-1 ml-2" />
    <p-checkbox label="Variables" name="translate-variables" [(ngModel)]="translation.translate_variables"
      [binary]="true" class="-mb-1 ml-2" />
    <p-checkbox label="String literals" name="translate-strings" [(ngModel)]="translation.translate_strings"
      [binary]="true" class="-mb-1 ml-2" />
    <p-checkbox label="Comments" name="translate-comments" [(ngModel)]="translation.translate_comments" [binary]="true"
      class="ml-2" />

    <span class="text-xs text-gray-600">
      Note: After translation, make sure to "Save" your changes or refresh the page to undo.
    </span>

    <div class="flex items-center justify-end gap-2 mt-2">
      <button pButton type="button" label="Cancel" icon="pi pi-chevron-left"
        class="p-button-sm p-button-secondary p-button-text" (click)="_v['translate'] = false">
      </button>
      <button pButton type="submit" label="Translate"
        [title]="'Translate the source into ' + translation.target_language" icon=" pi pi-language" class="p-button-sm"
        [disabled]="form.invalid" [loading]="_v['translate'] == 'loading'">
      </button>
    </div>
  </form>
</p-dialog>

<!--
<p-overlayPanel *ngIf="false" #feedbackOverlay>
  <div class="flex flex-col gap-2">
    <div class="flex items-center justify-end">
      <button pButton type="button" label="This text was generated by AI!" title="This text was generated by AI!"
        icon="genai-icon" class="p-button-sm p-button-secondary p-button-text annot-action-btn" disabled="disabled">
      </button>
      <button pButton type="button" title="I liked it!" icon="pi pi-thumbs-up-fill"
        class="p-button-sm p-button-plain p-button-text annot-action-btn"
        (click)="_v['--replace'] = false; _v['--why'] = true; _v['--action'] = 'like';">
      </button>
      <button pButton type="button" title="I disliked it!" icon="pi pi-thumbs-down-fill"
        class="p-button-sm p-button-plain p-button-text annot-action-btn"
        (click)="_v['--replace'] = false; _v['--why'] = true; _v['--action'] = 'dislike';">
      </button>
    </div>

    <div class="flex items-center gap-2">
      <button pButton type="button" label="Extract to New Explanation" title="Extract to New Explanation"
        icon="pi pi-file-edit" class="p-button-sm p-button-plain p-button-outlined"
        (click)="_v['--replace'] = false; _v['--why'] = true; _v['--action'] = 'extract';">
      </button>
      <button pButton type="button" label="Replace" title="Replace" icon="pi pi-hammer"
        class="p-button-sm p-button-plain p-button-outlined"
        (click)="_v['--replace'] = _v['--why'] = true; _v['--action'] = 'replace';">
      </button>
      <button pButton type="button" label="Remove" title="Remove" icon="pi pi-eraser"
        class="p-button-sm p-button-danger p-button-outlined"
        (click)="_v['--replace'] = false; _v['--why'] = true; _v['--action'] = 'remove';">
      </button>
    </div>

    <hr *ngIf="_v['--replace'] || _v['--why']" class="w-full my-0" />

    <textarea *ngIf="_v['--replace']" pInputTextarea [autoResize]="true"
      placeholder="Type your replacement text here ..." rows="1" class="p-inputtext-sm"
      style="min-height: 2.1rem;"></textarea>
    <textarea *ngIf="_v['--why']" pInputTextarea [autoResize]="true" [placeholder]="
      _v['--action'] == 'like' ? 'What made you like this?' :
      (_v['--action'] == 'dislike' ? 'What made you dislike this?' :
      (_v['--action'] == 'extract' || _v['--action'] == 'replace' ||
       _v['--action'] == 'remove' ? 'How would this make it better?' : '')
      )" rows="1" class="p-inputtext-sm" style="min-height: 2.1rem;"></textarea>
    <div *ngIf="_v['--replace'] || _v['--why']" class="flex items-center justify-end gap-2">
      <button pButton type="button" label="Cancel" icon="pi pi-chevron-left"
        class="p-button-sm p-button-secondary p-button-text"
        (click)="_v['--replace'] = _v['--why'] = _v['--action'] = false; feedbackOverlay.hide();">
      </button>
      <button pButton type="button" label="Submit" title="Submit" icon="pi pi-check"
        class="p-button-sm p-button-outlined"
        (click)="_v['--replace'] = _v['--why'] = _v['--action'] = false; feedbackOverlay.hide();">
      </button>
    </div>
  </div>
</p-overlayPanel> -->

<!-- data collection consent -->
<p-dialog [visible]="!trackingMessageDismissed" header="Dear User" position="top" [closable]="false" [modal]="true"
  [style]="{'max-width': '30rem'}" appendTo="body">
  <p class="mt-0 leading-normal">
    On this page, we collect data to <i>enhance this tool and support our research</i>.
    By using the tool, you consent to this collection.
    Your privacy is our top priority, and all data will be used exclusively for these purposes.

    <br /><br />

    Please check this box if you do not consent to the data collection.<br />
    <p-checkbox label="Don't collect data on this page." [(ngModel)]="_v['dont-collect-data']" [binary]="true"
      class="p-checkbox-sm mt-2 ml-2"></p-checkbox>

    <br /><br />

    Feel free to to reach out
    (<a href="mailto:moh70@pitt.edu" class="underline">moh70&#64;pitt.edu</a>)
    if you have any questions or concerns.

    <br /><br />

    Thank you, <br />
    PAWS Lab Team<br />
    University of Pittsburgh
  </p>

  <button pButton type="button" label="Dismiss" class="p-button-help" (click)="dismissTrackingMessage()">
  </button>
</p-dialog>

<p-dialog header="Collaborators" [(visible)]="_v['collaborators']" [modal]="true"
  [style]="{ width: '75vw', 'max-width': '500px' }">
  <div class="flex flex-col gap-2">
    <p-chips *ngIf="model" [(ngModel)]="model.collaborator_emails" separator="," placeholder="user@company.com, ..."
      class="p-chips-sm"></p-chips>
    <span class="text-xs text-gray-400">Type collaborator's email and press enter to add.</span>
  </div>
</p-dialog>