::ng-deep {
  .marked-line--glyph {
    background: #0078d4aa;
    border: solid white 5px;
    border-radius: 0.125rem;
  }

  .marked-line--background {
    border: solid #8378de99 1px;
    border-left-width: 3px;
    // background: #8378de99;
    min-width: 0.25rem;
  }

  .monaco-editor .current-line--customized {
    background: #00000010;
  }

  .pcex__source-editor {
    li .p-tabview-nav-link {
      margin: 0 !important;
    }
    li.p-highlight .p-tabview-nav-link {
      background: #f0f0f0 !important;
    }
  }

  .tabview-headers {
    .p-selectbutton {
      display: flex;
      align-items: center;
    }
    .p-selectbutton > .p-button {
      flex-grow: 1;
      padding: 0.5rem 0.25rem;
      border: none;
      border-bottom: solid 2px transparent;
      box-shadow: none !important;
      font-size: 0.75rem;
    }
    .p-selectbutton > .p-button.p-highlight {
      border-bottom-color: #0078d4;
    }
  }

  /* Disable vertical scrollbar */
  .monaco-editor .scrollbar.vertical,
  .monaco-editor .scrollbar.horizontal {
    display: none !important;
  }
  .monaco-editor .monaco-scrollable-element {
    padding-bottom: 0 !important;
  }
}

* {
  user-select: none;
}

.variation .line-number {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-weight: normal;
  font-size: 11px;
  font-feature-settings: "liga" 0, "calt" 0;
  line-height: 18px;
  letter-spacing: 0px;
  color: #237893;
  margin-top: 0.15rem;
}

.genai-icon {
  width: 1rem;
  height: 1rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABOklEQVR4AWJwL/ABFEoGGhVEQRg+1e7ObgAEhBAkIArQM/QCQQIkQIDSEwSiZ4iECCq7Z6+93Wrj0u0REgVEFPT3m3M2e7IsfsPM+eaf2dlAgJnSWCRLKOQJQ1ls5xt1gdMevCL4gVwWekGcmsRB2S7uBLDJaxcUgMhNpPEmXqbTC2oB47OvpZiYhI1nAlA7epiPzzEiNKCsnAVOLYVuNttBlYLwD6yO+s5dB5TVD2Vl+w9s7FFEqyy+ud28KqqmHqhxCpTxpr4lo7QD0wNUjYt8qqtz/sK95o/bJzMwfr/SzMFG67iOVzjangKW4K26jzHK5hu3zjs6d9mivt0EjGWyofnaxOE5vD0m/o55fIiS0FBPcvQfCsB2kaOe6F6lPDI32zTuB/P0Ut1sttb+DftBKxfcaz90CvULaT1IoM9kwMMAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  cursor: pointer;
}
