::ng-deep .compact-dropdown-panel {
  .p-dropdown-item {
    padding: 0.15rem 0.5rem !important;
  }
}

::ng-deep .type-select-large {
  .p-button {
    border: 1.5px solid #e5e7eb !important;
    background: white !important;
    color: #64748b !important;
    font-size: 0.75rem !important;

    &.p-highlight {
      background: #f1f5f9 !important;
      border-color: #64748b !important;
      color: #1e293b !important;
      font-weight: bold !important;
    }
  }
}

::ng-deep .activity-form {
  background-color: #f8fafc;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.03);

  .p-inputgroup-addon {
    background-color: #f1f5f9;
  }
  .p-dropdown-label,
  .p-selectbutton .p-button {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }

  .p-dropdown {
    height: 1.75rem;
    align-items: center;
  }

  .p-dropdown-label {
    white-space: normal !important;
    height: auto !important;
    line-height: 1.0;
  }

  .p-selectbutton .p-button-label {
    font-weight: normal !important;
  }
}
