/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f7fafc;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.preview-dialog {
  .p-dialog-header {
    margin-top: -2rem;
  }

  .p-dialog-header,
  .p-dialog-content {
    padding: 0;
  }
}

.pcex-nav-dropdown {
  .p-dropdown {
    background-color: transparent;
    border: none;
  }

  .p-dropdown-label {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0;
  }

  .p-dropdown-trigger {
    width: auto;
    margin-left: 0.5rem;
  }
}

p-chips .p-chips,
.p-chips .p-inputtext {
  width: 100%;
}

.p-chips-sm,
.p-chips-sm .p-chips {

  .p-inputtext,
  .p-chips-input-token input,
  .p-chips-token-icon {
    font-size: 0.875rem !important;
  }

  .p-chips-multiple-container {
    padding: 0.125rem 0.25rem !important;
    gap: 0.125rem;
  }

  .p-chips-token {
    padding: 0.125rem 0.35rem !important;
  }
}