<div class="h-full flex flex-col relative gap-2">
  <div class="flex flex-col gap-2 p-2 border border-gray-200 rounded-sm">
    <div class="leading-5">
      <span>
        Given the following program description and accompanying source code, identify and explain lines of the code
        that contributes directly to the program objectives and goals.
      </span>

      <span #inclusionEl contenteditable="true" class="px-1 bg-green-100 rounded-sm"
        (focus)="lastValue = prompt.inclusion; log.emit({ session: curLogSessionId, type: 'genexps-prompt-inclusion-focus' })"
        (blur)="onPromptBlur('genexps-prompt-inclusion-blur', inclusionEl); prompt.inclusion = placeholder(inclusionEl, defInclusion)">
        {{ prompt.inclusion }}
        <span *ngIf="!prompt.inclusion" class="text-gray-400 italic">{{ defInclusion }}</span>
      </span>
      &nbsp;
      <span #exclusionEl contenteditable="true" class="px-1 bg-red-100 rounded-sm"
        (focus)="lastValue = prompt.exclusion; log.emit({ session: curLogSessionId, type: 'genexps-prompt-exclusion-focus' })"
        (blur)="onPromptBlur('genexps-prompt-exclusion-blur', exclusionEl); prompt.exclusion = placeholder(exclusionEl, defExclusion)">
        {{ prompt.exclusion }}
        <span *ngIf="!prompt.exclusion" class="text-gray-400 italic">{{ defExclusion }}</span>
      </span>

      <br />
      <br />

      <span #explanationEl contenteditable="true" class="px-1 bg-gray-200 rounded-sm"
        (focus)="lastValue = prompt.explanation; log.emit({ session: curLogSessionId, type: 'genexps-prompt-explanation-focus' })"
        (blur)="onPromptBlur('genexps-prompt-explanation-blur', explanationEl); prompt.explanation = explanationEl.textContent?.trim()">
        {{ prompt.explanation }}
      </span>
    </div>

    <div class="flex items-center gap-2">
      <button pButton type="button" [label]="generating ? 'Generating' : 'Generate'" icon="pi pi-send"
        class="p-button-sm p-button-secondary" style="padding: 0.25rem 0.5rem;" [loading]="generating"
        (click)="generate()">
      </button>
      <span *ngIf="generating" class="text-xs text-gray-400">
        Based on how big the source is, this may take up to a minute!
      </span>
    </div>
  </div>

  <div class="flex-grow flex items-stretch gap-2">
    <div #editorEl class="flex-grow bg-white border border-gray-200 rounded-sm h-64"
      [ngClass]="{'w-2/3': lnsExplanations}">
      <ngx-monaco-editor *ngIf="ready" name="source" [(ngModel)]="source" [options]="editorOptions"
        style="height: 100%; min-height: 256px;" (onInit)="setupEditor($event)">
      </ngx-monaco-editor>
    </div>

    <div *ngIf="lnsExplanations" class="w-1/3 flex flex-col gap-2 h-64">
      <div class="flex-grow flex flex-col border rounded-sm p-2 gap-1">
        <span *ngIf="!lnExplanations" class="text-xs text-gray-400">
          ← put the cursor in an explained line to see its explanations
        </span>

        <div *ngIf="lnExplanations" class="text-xs font-bold">
          [<i class="pi cursor-pointer hover:text-blue-600 hover:font-bold" [ngClass]="{ 
              'pi-check text-green-600 font-bold': !tt[ln+'-all'], 
              'pi-times text-red-400': tt[ln+'-all']
            }" style="font-size: 0.65rem" (click)="toggleLineExclusion(ln)"></i>]
          <span *ngIf="tt[ln+'-all']">Exclude this line</span>
          <span *ngIf="!tt[ln+'-all']">Include this line</span>
        </div>
        <hr class="-mx-2" />

        <div class="max-h-40 flex flex-col gap-1 overflow-y-auto">
          <div *ngFor="let lnExplanation of lnExplanations; let i = index" class="text-xs"
            [ngClass]="{'bg-gray-100': i % 2 == 0}">
            [<i class="pi cursor-pointer hover:text-blue-600 hover:font-bold" [ngClass]="{
                'pi-check text-green-600 font-bold': !tt[ln+'-'+i], 
                'pi-times text-red-400': tt[ln+'-'+i]
              }" style="font-size: 0.65rem" (click)="toggleExplanationExclusion(ln, i)"></i>]
            <i class="pi cursor-pointer hover:text-blue-600 hover:font-bold" [ngClass]="{ 
                'pi-thumbs-up-fill text-green-600 font-bold': tt[ln+'-'+i+'-liked'],
                'pi-thumbs-up text-gray-400': !tt[ln+'-'+i+'-liked']
              }" style="font-size: 0.65rem" (click)="toggleExplanationLike(ln, i)"></i>
            <span class="ml-1" [ngClass]="{ 'line-through': tt[ln+'-'+i] }">{{ lnExplanation }}</span>
          </div>
        </div>
      </div>

      <button pButton type="button" label="Use Explanations" icon="pi pi-check" class="p-button-sm h-8"
        style="padding: 0.25rem 0.5rem;" (click)="useExplanations()">
      </button>
    </div>
  </div>
</div>