<div class="h-full flex flex-col relative gap-2">
  <div class="border border-gray-200 rounded-sm p-2 flex flex-col gap-2">
    <div class="flex items-center">
      <h1 *ngIf="toggles['show-history']" class="font-bold">History (in descending order):</h1>

      <span class="flex-grow"></span>

      <button pButton type="button" [label]="'History ' + (history ? '('+history.length+')' : '')" icon="pi pi-calendar"
        iconPos="right" class="p-button-sm p-button-plain tight-btn"
        [ngClass]="{'p-button-outlined': !toggles['show-history']}" [disabled]="!history || history.length == 0"
        (click)="toggles['show-history'] = !toggles['show-history']; log$('genexps-show-history', {value: toggles['show-history']})">
      </button>
    </div>

    <ng-container *ngIf="toggles['show-history']">
      <span class="text-xs text-gray-400">
        Click on a timestamp to load the session (prompt, program description, and source code).
      </span>
      <div class="flex flex-wrap items-center gap-1 ml-4">
        <button *ngFor="let timestamp of history" pButton type="button" label="{{ timestamp | date:'medium' }}"
          iconPos="right" class="p-button-sm p-button-plain"
          [ngClass]="{'p-button-outlined': historyTimestamp != timestamp}"
          style="font-size: 0.75rem; padding: 0.125rem 0.25rem;" [loading]="toggles[timestamp]"
          (click)="loadHistory(timestamp); log$('genexps-load-history', {value: timestamp})">
        </button>
      </div>
      <span class="text-xs text-gray-400">Changes are persisted ONLY within the current dialog.</span>
    </ng-container>
  </div>

  <div class="flex flex-col gap-2 p-2 border border-gray-200 rounded-sm">
    <h1 class="font-bold">GPT Prompt:</h1>

    <div *ngIf="prompt" class="leading-5 ml-4">
      <span>
        Given the following program description and accompanying source code, identify and explain lines of the code
        that contributes directly to the program objectives and goals.
      </span>

      <span #inclusionEl contenteditable="true" class="px-0.5 bg-green-100 rounded-sm"
        (focus)="lastValue = prompt.inclusion; log.emit({ session: curLogSessionId, type: 'genexps-prompt-inclusion-focus' })"
        (blur)="onPromptBlur('genexps-prompt-inclusion-blur', inclusionEl); prompt.inclusion = placeholder(inclusionEl, defInclusion)">{{
        prompt.inclusion }}<span *ngIf="!prompt.inclusion" class="text-gray-400 italic">{{ defInclusion }}</span>
      </span>
      &nbsp;
      <span #exclusionEl contenteditable="true" class="px-0.5 bg-red-100 rounded-sm"
        (focus)="lastValue = prompt.exclusion; log.emit({ session: curLogSessionId, type: 'genexps-prompt-exclusion-focus' })"
        (blur)="onPromptBlur('genexps-prompt-exclusion-blur', exclusionEl); prompt.exclusion = placeholder(exclusionEl, defExclusion)">{{
        prompt.exclusion }}<span *ngIf="!prompt.exclusion" class="text-gray-400 italic">{{ defExclusion }}</span>
      </span>

      <br />
      <br />

      <span #explanationEl contenteditable="true" class="bg-gray-200 rounded-sm"
        [ngClass]="{'px-0.5': prompt.explanation, 'px-1': !prompt.explanation}"
        (focus)="lastValue = prompt.explanation; log.emit({ session: curLogSessionId, type: 'genexps-prompt-explanation-focus' })"
        (blur)="onPromptBlur('genexps-prompt-explanation-blur', explanationEl); prompt.explanation = explanationEl.textContent?.trim()">{{
        prompt.explanation }}</span>

      <br />
      <br />

      <span class="font-bold mr-2">Program Description:</span>
      <span #progDescEl contenteditable="true" class="bg-gray-200 rounded-sm"
        [ngClass]="{'px-0.5': params.description, 'px-1': !params.description}"
        (focus)="lastValue = params.description; log.emit({ session: curLogSessionId, type: 'genexps-prog-description-focus' })"
        (blur)="onPromptBlur('genexps-prog-description-blur', progDescEl); params.description = progDescEl.textContent?.trim()">{{
        params.description }}</span>
    </div>

    <div class="flex items-center justify-end gap-2">
      <span *ngIf="generating" class="text-xs text-gray-400">
        Based on how big the source is, <br /> this may take up to a minute!
      </span>
      <button pButton type="button" [label]="generating ? 'Generating' : 'Generate'" icon="pi pi-send"
        class="p-button-sm p-button-secondary tight-btn" [loading]="generating" (click)="generate()">
      </button>
    </div>
  </div>

  <div class="flex-grow flex items-stretch gap-2">
    <div #editorEl class="flex-grow bg-white border border-gray-200 rounded-sm" [ngClass]="{'w-3/5': allExplanations}"
      style="max-height: 20rem;">
      <ngx-monaco-editor name="source" [(ngModel)]="params.source" [options]="editorOptions"
        style="height: 100%; min-height: 256px;" (onInit)="setupEditor($event)">
      </ngx-monaco-editor>
    </div>

    <div *ngIf="allExplanations" class="w-2/5 flex flex-col gap-2">
      <div class="flex-grow flex flex-col border rounded-sm pl-2 py-2 gap-1" style="max-height: 17.5rem;">
        <span *ngIf="!lineExplanations" class="text-xs text-gray-400">
          ← put the cursor in an explained line to see its explanations
        </span>

        <div class="flex items-center gap-2 mr-2">
          <div *ngIf="lineExplanations" class="flex items-center gap-2 text-xs cursor-pointer"
            (click)="toggleLineExclusion(lineNum)">
            <i class="pi hover:bg-gray-200 font-bold" [ngClass]="{ 
            'pi-check text-green-600': !toggles[lineNum+'-all'], 
            'pi-times text-red-400': toggles[lineNum+'-all']
          }" style="font-size: 0.85rem"></i>
            <span *ngIf="toggles[lineNum+'-all']" class="font-bold">Exclude this line</span>
            <span *ngIf="!toggles[lineNum+'-all']" class="font-bold">Include this line</span>
          </div>

          <span class="flex-grow"></span>

          <button pButton type="button" label="Merge All" icon="pi pi-link" iconPos="right"
            class="p-button-sm p-button-plain p-button-outlined" style="font-size: 0.75rem; padding: 0.125rem 0.25rem;"
            (click)="mergeExplanations()" [disabled]="!lineExplanations">
          </button>
        </div>

        <hr class="-ml-2" />

        <div class="flex flex-col gap-1 overflow-y-auto">
          <div *ngFor="let exp of lineExplanations; let i = index" #expEl class="flex items-center gap-2 mr-2"
            [ngClass]="{'border border-dashed border-gray-400': dragOverIndex == i}"
            (dragstart)="onExplanationDrag($event, i)" (dragover)="onExplanationDragOver($event, i)"
            (drop)="onExplanationDrop($event, i)" (dragend)="onExplanationDragEnd(expEl, $event, i)">
            <!-- include/exclude-btn -->
            <i class="pi cursor-pointer hover:bg-gray-200" [ngClass]="{
                'pi-check text-green-600': !toggles[lineNum+'-'+exp.id], 
                'pi-times text-red-500': toggles[lineNum+'-'+exp.id]
              }" style="font-size: 0.85rem" (click)="toggleExplanationExclusion(lineNum, exp.id)"></i>

            <!-- like-btn -->
            <i class="pi cursor-pointer hover:bg-gray-200" [ngClass]="{ 
              'pi-thumbs-up-fill text-green-600': toggles[lineNum+'-'+exp.id+'-liked'],
              'pi-thumbs-up text-gray-500': !toggles[lineNum+'-'+exp.id+'-liked']
            }" style="font-size: 0.85rem" (click)="toggleExplanationLike(lineNum, exp.id)"></i>

            <!-- explanation -->
            <textarea pInputTextarea [autoResize]="true" [name]="'linecomment-' + i" [(ngModel)]="exp.content" rows="1"
              placeholder="Explanation" class="flex-grow px-2 py-1 border-gray-200"
              [ngClass]="{ 'line-through': toggles[lineNum+'-'+exp.id] }" style="font-size: 0.75rem;"></textarea>

            <!-- delete-btn -->
            <i class="pi pi-trash text-red-300 hover:text-red-600 cursor-pointer" style="font-size: 0.85rem;"
              (click)="removeExplanation(i)"></i>

            <!-- reorder-bar -->
            <i class="pi pi-sort text-gray-500 reorder-bar" style="font-size: 0.85rem;"
              (mousedown)="expEl.setAttribute('draggable', 'true'); dragEnabled = true;"></i>
          </div>
          <div class="flex items-center gap-2 mr-2">
            <hr class="flex-grow" />
            <button pButton type="button" label="add an explanation" icon="pi pi-plus"
              class="p-button-sm p-button-plain p-button-outlined"
              style="font-size: 0.75rem; padding: 0.125rem 0.25rem;"
              (click)="lineExplanations.push({id: lineExplanations.length, content: ''})">
            </button>
            <hr class="flex-grow" />
          </div>
        </div>
      </div>

      <button pButton type="button" class="p-button-sm h-8 tight-btn" (click)="applyAndUse()">
        <span class="w-full flex item-center justify-center gap-2">
          <i class="pi pi-check text-sm"></i>
          <span>Apply Changes & Use Explanations</span>
        </span>
      </button>
    </div>
  </div>
</div>