.preview-btn,
.archive-btn,
.clone-btn {
  padding: 0;
  width: 1.75rem;
}

.highlighted-row {
  animation: pcex-flash-highlight 1s ease-in-out infinite;
}

@keyframes pcex-flash-highlight {
  0%, 100% { background-color: transparent; }
  50% { background-color: #fef08a; } // yellow-200
}

::ng-deep .pcex-nav-dropdown {
  .p-dropdown {
    background-color: transparent;
    border: none;
  }
  .p-dropdown-label {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0;
  }
  .p-dropdown-trigger {
    width: auto;
    margin-left: 0.5rem;
  }
}
