<div class="h-full flex flex-col relative gap-2">
  <div class="flex flex-col p-2 border border-gray-200 rounded-sm">
    <div>
      Given the selected line, problem statement, and the line explanations within this program, generate one more
      explanation that
      <span #el2 contenteditable="true" class="mx-1 bg-gray-100 rounded-sm" (keyup)="lnPropmpt = el2.textContent">
        explains why the selected line is important
      </span>
    </div>

    <div class="flex mt-2">
      <button pButton type="button" label="Generate" icon="pi pi-send" class="p-button-sm p-button-secondary"
        style="padding: 0.125rem 0.5rem;" (click)="generate()">
      </button>

      <span class="flex-grow"></span>

      <button *ngIf="lnExplanation" pButton type="button" label="Use the Explanation" icon="pi pi-check"
        class="p-button-sm" style="padding: 0.125rem 0.5rem;" (click)="useExplanation()">
      </button>
    </div>
  </div>

  <textarea *ngIf="lnExplanation" pInputTextarea [autoResize]="true" name="explanation" [(ngModel)]="lnExplanation"
    rows="1" class="flex-grow p-inputtext-sm px-2 py-1 border-gray-200"></textarea>
</div>